<% if !user_signed_in? %>
<div class="jumbotron">
  <h1> Your favourite albums reviewed </h1>
  <p> Hashtag oeowqeowqoe qwoehqoehoqoheoh qeowqoe oqoeoq oeoqoqeo. </p>

  <p><%= link_to "Sign Up to write a review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
 <div class="row">
   <% @albums.each do |album| %>
   <div class="col-sm-2 col-md-4">
     <div class="album-show">
       <a href="/albums/<%= album.id %>">
       <%= image_tag album.image.url(:medium), class: 'album-show' %>
       </a>
     </div>
   </div>

     <% end %>
     </div>
